* {
  --vivid-color: #C3E596;
  --light-color: #E8F2DA;
  --fade-color: #838E74;
  --dark-color: #4F5F3A;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-height: 100vh;
}
